# Core project dependencies
fastapi==0.114.0            # FastAPI for building APIs
uvicorn==0.30.6             # Uvicorn ASGI server
openai==1.44.0              # OpenAI API client
pydantic==2.9.0             # Pydantic for data validation
joblib==1.4.2               # Joblib for saving/loading machine learning models
numpy==2.1.1                # Numpy for numerical operations
scikit-learn==1.5.1         # Scikit-learn for machine learning algorithms
python-dotenv==1.0.1        # For environment variables in .env files
setuptools==74.1.2          # Ensures compatibility with Python builds
wheel==0.44.0               # For building and installing Python wheels
pydantic-settings==2.0.3    # Pydantic settings for environment configuration
xgboost==2.1.1              # XGBoost machine learning model    
Flask
pandas
matplotlib 
seaborn     